services:
  postgres:
    container_name: postgres
    image: postgres:16
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=legion
    volumes:
      - .docker-volumes/postgres/:/var/lib/postgresql/data
    ports:
      - 5432:5432